/* "waaaa headers are part of body waaa follow our amazing thoery"*/
body{
  height: 100%;
  width: 100%;
  margin: 0;
}
.real-body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
}
h1, h2, h3 {
  line-height: 1.2;
}
#cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}
#accept-cookies {
  background-color: #008000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}
/*https://css-tricks.com/how-to-create-a-shrinking-header-on-scroll-without-javascript/ */
/*.header-outer {
  display: flex;
  align-items: center;
  position: sticky;
  height: 420px;
  
}*/
.header-inner {
  height: 60px;
  position: sticky;
  top: 0;
  background-color: #fff;
}
.header-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: -360px; /* Equal to the height difference between header-outer and header-inner */
  height: 420px;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url('/animated.gif');
}