/* "waaaa headers are part of body waaa follow our amazing thoery"*/
body{
  height: 100%;
  width: 100%;
  margin: 0;
  color: #fdf6e3;
  line-height: 1.6;
  font-size: 18px;
  background-color: #002b36;
}
.real-body {
  margin: 40px auto;
  max-width: 650px;
  padding: 0 10px;
}
h1, h2, h3 {
  line-height: 1.2;
}
a {
	color: #268bd2; /* Link color */
	text-decoration: none;
}
a:visited {
	color: #6c71c4; /* Visited link color */
}
a:hover {
	color: #dc322f;
	text-decoration: underline;
}
#cookie-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 8px;
  background-color: #073642;
  padding: 10px;
  text-align: center;
}
#accept-cookies {
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}
/*https://css-tricks.com/how-to-create-a-shrinking-header-on-scroll-without-javascript/ */
.header-inner {
  height: 60px;
  position: sticky;
  top: 0;
  
}
.header-inner nav{
  display: flex;
}
.header-inner nav a{
  margin: 1em;
  border: 1px solid #586e75;
  background-color: #002b36;
}
.header-outer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: sticky;
  top: -360px; /* Equal to the height difference between header-outer and header-inner */
  height: 420px;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url('/animated.gif');
}
pre {
  background-color: #073642;
  font-family: monospace;
  tab-size: 3; /*its important to compromize mmmmmmk*/
}